/***
font-family: 'Raleway',
sans-serif;
***/

@import url(http://weloveiconfonts.com/api/?family=typicons);

*, html, body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Playfair Display',
    serif;
    color: #3e454c;
}

h1, h2 {
    font-weight: 600;
}


h1, h2 {
    text-transform: uppercase;

}

h1 {
    font-size: 2.6em;

}

h2 {
    font-size: 1.2em;
}

header {
    display: flex;
    background-image: url("imgs/headerImg.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    flex-wrap: wrap;

}

header > h1 {
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
}

header > h1 > span {
    display: block;
    padding-left: 6.2px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
    line-height: 19px;
    text-transform: lowercase;
    border-top: 1px dotted #fff;


}

header > h1, nav {
    padding: 30px 50px;
}

nav  {
    align-self: stretch;
    flex-grow: 1;
    text-align: right;
}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
    letter-spacing: .8px;
    text-transform: uppercase;
}

body {
    overflow-x: hidden;
}

.container {
    text-align: center;
}

#services {
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    padding: 0 120px;
    align-items: center;

}

.serviceBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 360px;
    height: 360px;
}

.serviceLabel {
    color: #fff;
    font-size: 1.3em;
    border: 2px solid #fff;
    letter-spacing: 1px;
    padding: 6px 15px;
}


#serviceOne {
    background: url("imgs/engagement.jpeg") center;
    background-size: 400%;
    transition: background-size 600ms ease-out;
}


#serviceTwo {
    background: url("imgs/flowers.jpeg") center;
    background-size: 200%;
    transition: background-size 600ms ease-out;
}

#serviceThree {
    background: url("imgs/portrait.jpeg") center;
    background-size: 160%;
    transition: background-size 600ms ease-out;
}

#serviceOne:hover {
    background-size: 500%;
}

#serviceTwo:hover {
    background-size: 250%;
}

#serviceThree:hover {
    background-size: 210%;
}


footer {
    height: 40vh;

    background-color: #ccc;
}

.title {
    flex:  0 1 62%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

