/***
font-family: 'Raleway',
sans-serif;
***/

*, html, body {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    display: flex;
    background-image: url("imgs/headerImg.jpeg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    flex-wrap: wrap;

}

header > h1 {
    flex-grow: 1;
    font-size: 1.4em;
    color: #fff;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    font-family: 'Raleway',
    sans-serif;
    font-weight: 700;
}

header > h1 > span {
    display: block;
    padding-left: 6.2px;
    font-weight: 400;

}

header > h1, nav {
    padding: 30px 50px;
}

nav  {
    align-self: stretch;
    flex-grow: 1;
    text-align: right;
}

nav > ul > li{
    list-style: none;
    display: inline-block;
    padding: 0px 25px;
    color: #fff;
    letter-spacing: .8px;
    text-transform: uppercase;
}

body {
    overflow-x: hidden;
}

.container {
    text-align: center;
}

#services {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 120px;
}

.serviceHover {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.serviceHover span {
    color: #fff;
    font-size: 1.3em;
    border: 2px solid#fff;
    letter-spacing: 1px;
    padding: 6px 15px;
    
}

#serviceOneHover {
    background: url("imgs/engagement.jpeg") center;
}


#serviceTwo {
    background: url("imgs/flowers.jpeg") center;
}

#serviceThree {
    background: url("imgs/portrait.jpeg") center;
    background-size: 160%;
}

.serviceClass {
    margin: 80px auto;
    width: 360px;
    height: 360px;
}


#pastWork {
    height: 100vh;

    background-color: #fff;
}

#testimonies {
    height: 100vh;

    background-color: #ccc;
}

#pricing {
    height: 100vh;

    background-color: #fff;
}

footer {
    height: 40vh;

    background-color: #ccc;
}

.container h1 {
    text-transform: uppercase;
    align-items: center;
    padding-top: 100px;
    font-size: 3em;
}